# July 2, 2025

## **Python Data Types**

### **Introduction**

Data is raw facts and figures. Data types is the way in which we represent information in computer programming language. Depending upon the nature of information we want to represent, we have different data types in Python. A variable is an entity that represents the information from Random Access Memory (RAM).

In [5]:
year = 2025
year = year+3
print(year)

2028

In [6]:
bank_interest = 7.5
print(bank_interest)

7.5

In [7]:
loan_interest = 9.
print(loan_interest)

9.0

In [8]:
type(year)

int

In [9]:
c = 3+8j
print(c)
print(type(c))

(3+8j)
<class 'complex'>

You can print a value inside a variable using the print command

In [10]:
institute = 'ICT'
print(institute)
print(type(institute))
print(type("ICT"))
print(len(institute))

ICT
<class 'str'>
<class 'str'>
3

### **Numeric Type**

- Integer
    
    Eg: 10, -3 (Integers can be negative numbers also)
    We can check data type using a built-in function.

In [11]:
type(5)

int

In [12]:
b = -2
type(b)

int

- Float

In [13]:
pi = 3.14
type(pi)

float

In [14]:
c = 3.0
c

3.0

In [15]:
d = 3. # Also equivalent to 3.0
print(d)

3.0

- Complex

In [19]:
d = 3+4j
type(d)

complex

### **Text Type**

- String: String is one or more characters/text

In [20]:
month = "Nove mber"
len(month)

9

In [21]:
type(month)

str

In [23]:
type("C")

str

In [22]:
language = "Malayalam" #Write in reverse order
print(language[::-1])

malayalaM

### **Sequence Type**

- List: List is a collection of elements grouped together

In [26]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
vowels = ['a', 'e', 'i', 'o', 'u']

Python lists can have individual elements of various data types

In [27]:
grocery = ["Apple", 5, "Orange", 10]
print(grocery)

['Apple', 5, 'Orange', 10]

In [28]:
len(digits)

10

Lists are mutable which means we can change the elements after creating a list

In [29]:
grocery[0] = "Grape"
print(grocery)

['Grape', 5, 'Orange', 10]

- Tuple: Tuples are similar to list but are immutable, meaning once you create a tuple, you cannot change, add, or remove items. This immutability can help protect data from accidental modification and also makes tuples more memory-efficient.

In [30]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

- Range: The range data type in Python represents an immutable sequence of numbers.

In [31]:
start = 0
stop = 5
step = 1
list(range(3, 10, 2))

[3, 5, 7, 9]

Creates a sequence from 0 to stop-1

In [32]:
range(stop)     
range(0, 5)
type(range(stop))
range
list(range(stop))

[0, 1, 2, 3, 4]

Creates a sequence from start to stop-1

In [33]:
range(start, stop)
range(0, 5)
list(range(start, stop))

[0, 1, 2, 3, 4]

Creates a sequence from start to stop - 1, incrementing by step each time

In [34]:
range(start, stop, step)
range(0, 5)
list(range(start, stop, step))

[0, 1, 2, 3, 4]

### **Mapping Type**

- Dictionary
    
    * In Python, a dictionary is an unordered, mutable collection that stores data in key-value pairs.
    * Each key in a dictionary must be unique, while values can be duplicated.

In [44]:
data = {
    "Institute": "ICT",
    "City": "Thiruvananthapuram",
    "State": "Kerala"
}
print(type(data))

<class 'dict'>

In [45]:
data["Institute"]

'ICT'

In [46]:
data["City"]

'Thiruvananthapuram'

In [47]:
data["State"]

'Kerala'

In [48]:
print(data)

{'Institute': 'ICT', 'City': 'Thiruvananthapuram', 'State': 'Kerala'}

Accessing the keys only from a dictionary

In [50]:
data.keys()

dict_keys(['Institute', 'City', 'State'])

Accessing the values only from a dictionary

In [51]:
data.values()

dict_values(['ICT', 'Thiruvananthapuram', 'Kerala'])

### **Set Type**

- Set
    
    In Python, a set is an unordered collection of unique items.
    
1. Creating a set using {}

In [52]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

2. Creating a set with duplicate values

In [53]:
my_set_2 = {1, 2, 2, 3}
print(my_set_2)

{1, 2, 3}

3. Using the set() function

In [54]:
empty_set = set()
print(empty_set)

set()

4. Boolean: In Python, the Boolean data type represents truth values, which can be either True or False. Booleans are often used in conditional statements and expressions to make decisions in code.

In [55]:
is_sunny = True
is_raining = False 
print(is_sunny)
print(is_raining)
print(type(is_raining))

True
False
<class 'bool'>

In [56]:
print(10>20)

False

### **None Type**

In Python, the None data type represents the absence of a value or a null value.

In [57]:
status = None
print(status)

None

## **Operators in Python**

### **Arithmetic Operators**

- Addition

In [58]:
3+4

7

In [59]:
a = 10
b = 12
c = a+b
print(c)

22

- Subtraction

In [60]:
10-8

2

- Multiplication

In [61]:
a = 12
b = 10
c = a*b
print(c)

120

* Division

In [62]:
x = 0
y = 3.0
print(x/3)

0.0

- Modulus

In [63]:
a = 9
b = 2
c = a%2
print(c)

1

- Exponent

In [64]:
a = 10
b = 3
c = a**b
print(c)

1000

- Floor Division

In [65]:
a = 13
b = 2
c = a//b
print(c)

6

### **Assignment Operator**

- Equals (=)

In [66]:
x = 20
print(x)

20

### **Comparison Operator**

It compares two values and returns True/False

- Greater than (>)

In [67]:
a = 10
b = 10
print(a>b)

False

- Less than (<)

In [68]:
print(x<y)

False

- Greater than or equal to (>=)

In [69]:
print(x>=y)

True

- Less than or equal to (<=)

In [70]:
print(x<=y)

False

- Equal to (==)

In [71]:
a==b

True

- Not equal to (!=)

In [72]:
x = 10
y = 20
print(x!=20)

True

### **Logical Operator**

- AND

In [73]:
print(True and True)

True

- OR

In [74]:
print(True or False)

True

- NOT

In [75]:
print(not True)

False

### **Membership Operator**

Test for membership in sequences like lists, strings, etc.

- IN

In [76]:
print(1 in [1, 2, 3])

True

In [77]:
"x" in "Malayalam"

False

- NOT IN

In [78]:
print(1 not in [1,2,3])

False

### **Identity Operator**

Check if two variables refer to the same object in memory.

In [79]:
a = 10
b = 10
print(a)
print(b)

10
10

In [80]:
a = 20
print(a)
print(b)

20
10

- is

In [81]:
a = 10
b = 10
print(a is b)

True

In [82]:
a = 10
b = 12
print(a is b)

False

- is not

In [83]:
a = 10
b = 10
print(a is not b)

False

In [84]:
a = 10
b = 12
print(a is not b)

True

### **Standard Input Output Functions**

In [36]:
name = input("Enter your name: ")
print(name)

Chris Louis

### **Print formatting**

- Placeholder passing
- Multiline Assignment
- Line-breaking

## **Type Conversion and Casting**

Ternary or Conditional Operator: Used for conditional expressions

In [35]:
x = 100
y = 200
max_val = x if x > y else y
print(max_val)

200

## **Operator Overloading**