# July 3, 2025

## Conditional statements

### if

**if** statement: This checks a condition, and if it is true, the indented code block under it will be executed.

To compare between two numbers inputted by the user and give the output accordingly using the if condition.

In [ ]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
if a>b:
  print("A is greater than B")
if a<b:
  print("A is lesser than B")
if a==b:
  print("A is equal to B")
  #Output: It depends on the numbers inputted by the user

A is greater than B

In [ ]:
a = 20
b = 30
if None:
    print("Inside if block")
else:
    print("Inside else block")

Inside else block

None, False, 0 are interpreted as False. All others are equivaluent to True in if-else conditions.

In [4]:
a = "0"
if a:
    print("Inside if block")
else:
    print("Inside Else block")

Inside if block

### elif

elif statement: Short for “else if”, this allows you to check multiple conditions. It comes after an **if** statement and only executes if the previous **if** condition was false, and the **elif** condition is true.

To compare between two numbers inputted by the user and give the output accordingly.

In [5]:
a=int(input())
b=int(input())
if a<b:
  print("A is less than B")
elif a>b:
  print("A is greater than B")
elif a==b:
  print("A is equal to B")
  
#Output: It depends on the input given by the user.

A is less than B

### else

**else** statement: This captures any remaining cases that don’t match the **if** or **elif** conditions. It executes if all previous conditions are false.

## Nested Conditional Statements

You can also nest conditional statements for more complex checks:

In [7]:
digits = {0:'zero', 1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine'}
x = input("Enter your input: ")
for digit in x:
        print(digits[int(digit)], end=" ")

two

In [9]:
x = 15
if x > 10:
    print("x is greater than 10")
    if x > 20:
        print("x is also greater than 20")
    else:
        print("x is not greater than 20")

x is greater than 10
x is not greater than 20

To check if a given number is even or odd using if-else

In [10]:
a=int(input("Enter the number: "))
if a%2==0:
  print("The given number is even")
else:
  print("The given number is odd")
  
 #Output: It depends on the input

The given number is odd

To check if the given number is divisible by 9 if it is odd and divisible by 4 if it is even.

In [12]:
a=int(input("Enter the number: "))
if a%2!=0 and a%9==0:
  print("A is an odd number divisible by 9")
elif a%2!=0 and a%9!=0:
  print("A is an odd number but not divisible by 9")
else:
  print("The number does not meet the conditions")
if a%2==0 and a%4==0:
  print("The number is an even number divisible by 4")
elif a%2==0 and a%4!=0:
  print("The number is even but not divisible by 4")
else:
   print("The number does not meet the conditions")
   
 #Output: It depends on the input

A is an odd number divisible by 9
The number does not meet the conditions

A program that asks the user for a score between 0 and 100 and prints the grade based on the score:

In [13]:
mark=float(input("Enter the marks scored: "))
if mark>=90 and mark<=100:
  print("A")
elif mark>=80 and mark<90:
  print("B")
elif mark>=70 and mark<80:
  print("C")
elif mark>=60 and mark<70:
  print("D")
elif mark>=0 and mark<60:
  print("F")
else:
  print("Invalid score")
  
#Output: It depends on the input

D

To check whether a number is positive, negative or zero.

In [16]:
n=int(input("Enter the number: "))
if n>0:
  print("Positive")
elif n<0:
  print("Negative")
else:
  print("Zero")
  
#Output: It depends on the input

Zero

To print a given 4 digit OTP number in text form (e.g. 0123-> Zero One Two Three)

In [18]:
digits = ["Zero", "One", "Two", "Three", "Four",\
          "Five", "Six", "Seven", "Eight", "Nine"]
n = input("Enter a number: ")
a,b,c,d = int(n[0]),int(n[1]),int(n[2]),int(n[3])
print(digits[a], digits[b],digits[c], digits[d])

Zero One Two Three

To print a given 4 digit OTP number in text to digit (e.g. Four Five Three Nine ->4539)

In [21]:
digi_dict = {"Zero":0, "One":1, "Two":2, "Three":3, "Four":4,\
          "Five":5, "Six":6, "Seven":7, "Eight":8, "Nine":9}
num_words = input("Enter number in words: ")
a,b,c,d = num_words.split(" ")
print(digi_dict[a], digi_dict[b], digi_dict[c], digi_dict[d])

4 5 3 9

To print the length of characters in each sentence of a given paragraph

In [22]:
word=str(input("Enter the word: "))
sentences = word.split(". ")
print("No. of letters in the given word: ", len(sentences[0]))

KeyboardInterrupt: Interrupted by user

## Basic functions in python

In [28]:
with open("sample.txt","w") as f:
	f.write("Hello, World!")

In [29]:
with open("sample.txt", "r") as f:
	data = f.readlines()[0]
print(data)

Hello, World!

In [30]:
def greet():
	return "Good morning!"

In [31]:
a=greet()
print(a)

Good morning!

In [32]:
def add(a,b):
	c=a+b
	return c

In [33]:
z=add(2,4)
print(z)

6

In [34]:
def add(a,b=10):
  c = a+b
  return c

In [35]:
z = add(2)
print(z)

12

In [36]:
def simple_arithmetic(a,b):
  return a+b, a-b, a*b, a/b

tsum, tdiff, tmul, tdiv = simple_arithmetic(10,5)
print(tsum, tdiff, tmul, tdiv)

15 5 50 2.0

## Basic loops in Python

### for loop function

To print numbers from 1 to 5

In [39]:
x = [1,2,3,4,5]
for element in x:
  print(element)

1
2
3
4
5

To print even numbers from 2 to 10

In [40]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

To print letters of a word one below the other

In [41]:
message = "WElcome"
for char in message:
  print(char)

W
E
l
c
o
m
e

To print letters of a word one below the other in reverse order

In [42]:
message =  "WElcome"
N = len(message)
for i in range(N-1, -1, -1):
  print(message[i])

e
m
o
c
l
E
W

To print the first three letters of a word

In [43]:
message =  "WElcome"
N = len(message)
for i in range(N):
  if i ==3:
    break
  print(message[i])

W
E
l

To print the word with specific character(s) missing

In [44]:
message =  "WElcome"
N = len(message)
for i in range(N):
  if i==3:
    continue
  print(message[i])

W
E
l
o
m
e

To print a word a specific number of times

In [45]:
"hello "*2

'hello hello '

To print a specified sequence of numbers

In [46]:
for i in range(1,20):
  if i ==13:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19

To print  a triangle with a specific number of lines, depending on the input given by the user.

In [48]:
n=int(input("Number of lines: "))
l=n*2
for i in range(1,l,2):
  print(n*" ",i*"*")
  n=n-1
    #Output: It depends on the input given by the user

      *
     ***
    *****
   *******
  *********

To print a triangle facing upside down with a specific number of lines, depending the input given by the user.

In [49]:
n=int(input("Number of lines: "))
l=n*2-1
for i in range(l,0,-2):
  print(n*" ",i*"*")
  n=n+1

    #Output: It depends on the input given by the user

       ***********
        *********
         *******
          *****
           ***
            *

To print a right-angled triangle with a specific number of lines, depending the input given by the user.

In [52]:
n = int(input("Enter the number of lines: "))
for i in range(1, n + 1):
    print("*" * i)
# Output: Depends on the input given by the user

*
**
***
****
*****
******

To print a sequence of numbers starting from 0

In [53]:
n=int(input("Enter the number: "))
i=0
while i<n:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8

To print a character a given number of times

In [54]:
from time import sleep
for i in range(1,11):
  sleep(1)
  print("*", end="")

**********

To input a number’s table

In [55]:
x= int(input("Enter a number:"))
for i in range(1,11):
  product = x*i
  print(f"{x} * {i} = {product}")
  
  #Output: depends on the input given by the user

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

To make a program asking to give valid email address

In [56]:
while True:
    email = input("Please enter your Gmail ID (e.g., username@gmail.com): ").strip()
    if "@" in email and email.endswith("@gmail.com"):
        at_index = email.find("@")
        if at_index > 0 and email[at_index:].strip() == "@gmail.com":
            print("Valid Gmail ID entered!")
            break
        else:
            print("Invalid format. Username cannot be empty or contain spaces right before '@gmail.com'. Please try again.")
    else:
        print("Invalid format. Please make sure it includes a username, '@', and ends with 'gmail.com' without extra spaces. Try again.")

Valid Gmail ID entered!

## Built-in Function categories

### Type Conversion Functions

These function convert one data type into another

In [58]:
int("10")      # Converts string to integer ->10

10

In [59]:
float("3.14")  # Converts string to float ->2.14

3.14

In [60]:
str(100)       # Converts int to string -> '100'

'100'

In [61]:
bool(0)        # Converts to boolean (false)

False

In [62]:
list("abc")    # Converts string to list -> ['a','b','c']

['a', 'b', 'c']

In [63]:
tuple([1,2,3]) # Converts list to tuple ->(1,2,3)

(1, 2, 3)

In [64]:
set([1,1,2])   # Converts list to set -> {1,2}

{1, 2}

In [65]:
dict([(1,'one'),(2,'two')])  # Converts list of tuples to dictionary

{1: 'one', 2: 'two'}

### Mathematical Functions

These functions perform mathematical operations

In [66]:
abs(-5)          #Returns abcolute value ->5

5

In [68]:
pow(2,3)         #2^3 ->8

8

In [ ]:
round(3.7)       #Rounds to nearest integer ->4

4

In [70]:
divmod(10,3)     #Returns quotient and remainder -> (3.1)

(3, 1)

In [71]:
int('100') #Output: 100

100

In [72]:
int(3.14) #Output: 3

3

In [73]:
str(25) #Output: '25'

'25'

In [74]:
tuple([1,2,3]) #Output: (1, 2, 3)

(1, 2, 3)

In [75]:
list([4,5,6]) #Output: [4, 5, 6]

[4, 5, 6]

In [76]:
abs(-15) #Output: 15

15

In [77]:
pow(2,5) #Output: 32

32

In [78]:
round(4.6) #Output: 5

5

In [79]:
divmod(19,4) #Output: (4, 3)

(4, 3)

In [80]:
sum([10,20,30]) #Output: 60

60

In [81]:
def multiply(a=1,b=1):
  print(a*b)
multiply()

1

In [82]:
with open("sample.txt", "r") as f:
  f.read()

In [83]:
def square(n):
  print(pow(n,2))
square(5)

25

### Lambda Functions

Anonymous functions using Lambda

In [86]:
square = lambda x: x * x
print(square(5))

25

In [87]:
check = lambda x: x%2==0
check(2)

True

In [88]:
numbers = [1,2,3,4,5,6,7,8,9]
filter_even = filter(lambda x: x%2==0, numbers)
list(filter_even)

[2, 4, 6, 8]

In [89]:
def factorial(n):
  if n==1:
    return 1
  return n*factorial(n-1)
print(factorial(5))

120

In [90]:
def add_num(a,b):
  sum=a+b
  return sum

In [92]:
add_num(4,6) #Output: 10

10

In [93]:
print(add_num.__doc__) #Output: None

None

In [96]:
def print_info(*kwargs):
  for item in kwargs:
    print(item)

In [95]:
print_info("hi", "hello", "how r u", "bye")

hi
hello
how r u
bye